# Snakemake data folders
fastq_prepros/input/raw/**/*
!fastq_prepros/input/raw/README.md

fastq_prepros/input/fastq/**/*
!fastq_prepros/input/fastq/README.md

fastq_prepros/input/refdata-gex-GRCh38-2024-A/**/*
!fastq_prepros/input/refdata-gex-GRCh38-2024-A/README.md

fastq_prepros/input/whitelist/**/*
!fastq_prepros/input/whitelist/README.md

fastq_prepros/output/bam/**/*
!fastq_prepros/output/bam/README.md

fastq_prepros/output/counts/**/*
!fastq_prepros/output/counts/README.md

fastq_prepros/output/qc/**/*
!fastq_prepros/output/qc/README.md

# Rest
**/envs/
**/*.yaml.save
.env/

**/*.log
**/*.out
**/tmp/

__pycache__/
*.pyc

.DS_Store
*.swp

fastq_prepros/.snakemake/
